---
layout: default
---

{% include header.html %}
<style>
    .archive__member{
        margin-left: 10px;

    }
    .archive__duration{
        padding-right:10px;
        border-right: 1px solid var(--light);
    }
    .archive__summary{
        font-size:1.2rem;
    }
    .archive__name{
        font-size:1rem;
        color:var(--light-gray);
        margin-left: 0px;
    }
    .archive__url{
        border-bottom: 1px dashed var(--light)
    }
    .post__list_side {
        display: flex;
        align-items: center;
        width: 25%;
        height: 30px;
        vertical-align: middle;
        font-size:0.8rem;
        color:var(--gray-light);
    }
    .post__list_center {
        display: flex;
        align-items: center;
        width: 50%;
        vertical-align: middle;

    }
    .post__list_item > div{
        display: inline-flex;
        width: 100%;
        margin-bottom: 20px;
    }
    .post__list_item a,
    .post__list_item a:active,
    .post__list_item a:hover,
    .post__list_item a:visited{
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        padding: 0;
        color:var(--light-gray);
    }

    li.post__list_item{
        opacity: 1;
        transition: opacity 0.25s ease-in;
    }
    li.post__list_item.fade{
        opacity: 0.5;
        transition: opacity 0.25s ease-in;
    }
</style>
<main class="post__archive" id="postArchive">
    {%- include header_nav.html -%}
    {%- if site.status -%}
    {%- include status.html -%}
    {%- endif -%}
    {%- if site.categories.size > 0 -%}
    <nav class="blog__categories">
        <a href="#all" data-category="all" class="category active nav-link">{{ site.theme_setting.lang.category_all | default: "All" }}</a>
        {%- for category in site.categories %}
        <a href="#{{ category[0] }}" class="category nav-link" data-category="{{ category[0] }}">{{ category[0] }}</a>
        {%- endfor %}
    </nav>
    {%- endif -%}
    <div class="post__list archive__list">
        {%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
        {%- for year in years %}
        <h3 class="post__list_title">{{ year.name }}</h3>
        {%- assign posts = year.items %}
        <ul>
            {%- for post in posts %}
            <li class="post__list_item" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
                <div>
                    <div class="post__list_side">
                        <span class="archive__duration">{{ post.duration }}개월</span>
                        <span class="archive__member">{{ post.member }}명</span>
                    </div>

                    <div class="post__list_center">
                        <span class="archive__summary">{{ post.summary }}</span>
                        <span class="archive__name">: {{ post.name }}</span>
                    </div>

                    <div class="post__list_side">
                        {% if post.link != "" %}
                        <a href="{{ post.link }}">
                            <span class="archive__url">DEMO</span>
                        </a>
                        {% endif %}
                    </div>


                </div>
            </li>
            {%- endfor %}
        </ul>
        {%- endfor %}
    </div>
</main>
{%- include footer.html -%}